<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">

      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else productName">
          <input [(ngModel)]="product.name" placeholder="Name" />
        </ng-container>
        <ng-template #productName>
          {{ product.name }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else productQuantity">
          <input [(ngModel)]="product.quantity" placeholder="Quantity" />
        </ng-container>
        <ng-template #productQuantity>
          {{ product.quantity }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else productPrice">
          <input [(ngModel)]="product.price" placeholder="Price" />
        </ng-container>
        <ng-template #productPrice>
          {{ product.price }}
        </ng-template>
      </td>


      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else editButtons">
          <button (click)="updateProduct()" class="btn btn-primary me-1" id="btnUpdate">Update</button>
          <button (click)="cancelEdit()" class="btn btn-primary">Cancel</button>
        </ng-container>
        <ng-template #editButtons>
          <button (click)="editProduct(product)" class="btn btn-primary me-1" id="btnEdit">Edit</button> <!--me-1-->
          <button (click)="deleteProduct(product)" class="btn btn-danger">Delete</button>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>